@import url('https://fonts.googleapis.com/css?family=Roboto:100i');

.robo-thin {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-weight: 100;
    font-style: italic;
}

.block-quote {
  background-color: #ffffff;
  padding: 40px 15px;
  text-align: center;
}

.butt{
  padding: .75rem;
  margin: .375rem;

  background-color: transparent;
  border-radius: 4px;
}

.butt:focus {
  outline: none;
}

.butt {
  border: 2px solid #f35626;
  line-height: 1.375;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  font-weight: 700;

  color: #f35626;

  cursor: pointer;
  -webkit-animation: hue 30s infinite linear;
}

.site__title {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 30s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
